P,h3 {
    color: orange;
}
h1 {
    color: blueviolet;
}
#quick {
    background-color: bisque;
    color: aquamarine;
}
.bee{
    font-style: italic;
    color: blue;
    background-color: orchid;
}